*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightblue; */
    background: url(giammarco-boscaro-zeH-ljawHtg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

.container{
    background-color: rgba(160, 110, 36, .6);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow:0px 5px 10px #fefefe ;   
    color: rgb(255, 255, 255);
    margin: 20px;
}

.header{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.input{
    width: auto;
    height: 40px;
    padding:0px 30px;
    border-color:rgba(255,255,255,.4);
    border-radius: 5px;
    font-size: 16px;
    margin: 20px;
}

.info-txt{
    font-size: 18px;
    margin: 5px;
}

p{

    font-size: 20px;
}

.title{
    font-size: 18px;
    margin: 5px;
}
.meaning{
    font-size: 18px;
    margin: 5px;
}

#audio{
    margin: 10px;
}

.meaning-container{
    display:none;
}